hr.hr_nav {
    margin-left: 15%;
    margin-right: 15%;
}

div.div1 {
    text-align: center;
    background-color: #b5e5ee;
}

div.div2 {
    text-align: center;
}

img.img_ciudad {
    height: 100px;
    width: 115px;
}

img.img_ciudad:hover {
    opacity: 0.5;
}

hr.hr {
    border: blue 0.5pc solid;
}

div.div3 {
text-align: center;
}

span.co {
    color: black;
    text-decoration-line: none;

}

span.co:hover {
    font-weight: bold;
    background-color: #b5e5ee;
}

div.texto {
    border: black 0.3ex solid;
    margin-right: 40%;
    background-image: url(img/valencia_antigua.jpg);
    color: blue;
    font-weight: bold;
    text-align: justify;
}

div.div4 {
    background-color: #b5e5ee;
    text-align: center;
}

img.img_antigua2 {
    height: 150px;
    width: 200px;
}